[submodule ".idea"]
	path = .idea
	url = https://github.com/raphaelcohn/intellij-project-template.git
[submodule "library/annotations"]
	path = library/annotations
	url = https://github.com/raphaelcohn/intellij-library-annotations.git
[submodule "library/path"]
	path = library/path
	url = https://github.com/raphaelcohn/path.git
[submodule "library/string"]
	path = library/string
	url = https://github.com/raphaelcohn/string.git
